<h1><%= @restaurant.name %></h1>
<ul>
    <li>located at <em><%= @restaurant.address %></em></li>
    <li>Category: <%= @restaurant.category.capitalize %></li>
    <li>Phone number: <%= @restaurant.phone_number %></li>
    <p>
      <%= link_to "Back to all restaurants", restaurants_path %>
    </p>
</ul>

<h4><strong>Reviews</strong></h4>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item">Comments: "<%= review.content %>" | Rating: <%= review.rating %> / 5</li>
  <% end %>
</ul>
<br>

  <p>
    <%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>
  </p>
